.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & > .content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1 1 50%;
    }

    & iframe {
      border: none;
    }
  }

  & .non-interactive {
    pointer-events: none;
    user-select: none;
  }
}
